# Backend Environment Variables (Set in Render Dashboard)
PORT=5001
NODE_ENV=production
JWT_SECRET=your_jwt_secret_here
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/medvault_db

# Firebase Admin SDK (Backend)
FIREBASE_PROJECT_ID=med-vault-a2b2b
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@med-vault-a2b2b.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n<your-private-key>\n-----END PRIVATE KEY-----\n"
